.container {
    display: flex;
    flex-wrap: wrap;
}

.space_between_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.center_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.contents_area {
    background-color: steelblue;
    padding: 16px 16px 16px 16px;
}

.itemBox {
    border-bottom: solid;
}

.textAreaInput {
    width: 500px;
    height: 200px;
    margin-right: 3px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(128, 128, 128, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}